footer {
  height: 50px;
  min-height: 50px;

  a {
    img {
      width: 1.25rem; /* 20px */
      height: 1.25rem; /* 20px */
      margin-left: 0.5rem; /* 8px */
    }
    &:hover {
      background-color: #1e2d3d74;
    }
  }
}

#social-icons {
  a {
    border-right: 1px solid #1e2d3d;
    height: 100%;
    width: 50px;
    img {
      width: 1.25rem; /* 20px */
      height: 1.25rem; /* 20px */
      margin: auto;
      opacity: 0.4;
    }
    &:hover img {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  #social-title {
    border-right: none;
  }

  #social-icons {
    a {
      border-right: none;
      border-left: 1px solid #1e2d3d;
      img {
        width: 1.5rem; /* 20px */
        height: 1.5rem; /* 20px */
      }
    }
  }
}
